.list-container {
  display: flex;
}
.list-form {
  width: 25%;
}
.list-items {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.list-items a {
  text-decoration: none;
  color: black;
}
